USE_MOCK=false
DIRECTUS_URL=http://localhost:8055
DIRECTUS_KEY=shareloc-secret-key
DIRECTUS_SECRET=shareloc-secret-value
ADMIN_EMAIL=admin@shareloc.com
ADMIN_PASSWORD=Password123
CLOUDFLARE_TUNNEL_TOKEN=your-cloudflare-tunnel-token
CMS_PUBLIC_URL=https://cms-public-url.example.com