DIRECTUS_URL=http://10.169.6.124:8055
USE_MOCK=true
WHATSAPP_NUMBER=6281234567890
CONTACT_EMAIL=hello@shareloc.example
CONTACT_PHONE=+62 812-3456-7890
CONTACT_ADDRESS=Jl. Placeholder No. 123, Jakarta, Indonesia
